absl-py
aiohappyeyeballs
aiohttp
aiosignal
alembic
altair
annotated-types
anyio
argon2-cffi
asgiref
astor
asttokens
astunparse
async-generator
async-timeout
attrs
babel
backcall
base58
beautifulsoup4
bleach
blinker
boto3
botocore
cachetools
catboost
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
collector
colorama
cryptography
cycler
Cython
dask
dataclasses
decorator
defusedxml
distributed
distro
Django
django-widget-tweaks
dnspython
easyocr
email-validator
entrypoints
exceptiongroup
ffmpeg-python
filelock
Flask
flask-babel
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
flatbuffers
frozenlist
fsspec
funcy
future
gast
gensim
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
graphviz
greenlet
grpcio
gunicorn
h11
h5py
heyvi
httpcore
httpx
huggingface-hub
idna
imageio
importlib-metadata
importlib_resources
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jax
jedi
Jinja2
jiter
jmespath
joblib
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keras
keras-nightly
Keras-Preprocessing
kiwisolver
lazy_loader
lightning-utilities
locket
lxml
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
mistune
ml-dtypes
mpmath
msgpack
multidict
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
nltk
notebook
numexpr
numpy
oauthlib
openai
opencv-contrib-python
opencv-python
opencv-python-headless
opt-einsum
packaging
pandas
pandocfilters
parso
partd
path
phonenumbers
pickleshare
pillow
pkgutil_resolve_name
plotly
polars
prometheus-client
prompt-toolkit
propcache
protobuf
psutil
psycopg2-binary
pyarrow
pyasn1
pyasn1-modules
PyBrain
pyclipper
pycollector
pycountry
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyLDAvis
Pympler
PyMsgBox
pyparsing
PyPDF2
pyperclip
pyphen
PyRect
pyrsistent
python-bidi
python-dateutil
python-docx
python-pptx
pytorch-lightning
pytz
PyWavelets
PyYAML
pyzmq
referencing
regex
reportlab
requests
requests-oauthlib
retrying
rich
rpds-py
rsa
s3transfer
safetensors
scikit-image
scikit-learn
scipy
seaborn
semver
Send2Trash
shapely
six

smart_open
smmap
sniffio
sortedcontainers
sounddevice
soupsieve
SQLAlchemy
sqlparse
streamlit
stripe
sympy
tblib
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-cpu
tensorflow-estimator
termcolor
terminado
testpath
textstat
threadpoolctl
tifffile

toml
toolz
torch
torchmetrics
torchvision
tornado
toutatis
tqdm
traitlets
transformers
typing_extensions
tzdata
tzlocal
ujson
ultralytics
ultralytics-thop
urllib3
vaderSentiment
validators
vipy
watchdog
wcwidth
webencodings
Werkzeug
widgetsnbextension
wordcloud
wrapt
WTForms
xlsxwriter
yarl
zict
zipp


